header{
    padding: 16px;
    background: #FFF;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}
.header-box{
    width:1200px;
    margin: auto;
    overflow: hidden;
}
.header-right{
    float: right;
    overflow: hidden;
}
.header-right p {
    color: #aeaeae;
    width:190px;
    line-height: 30px;
    float: left;
}
.header-right p  a{
    color: #0066cc;
}
.right-box{
    float: left;
    width: 98px;
    height:25px;
    line-height: 25px;
    border: 1px solid #ccc;
    text-align: center;
    color: #858585;
    background:url("../images/turnb.png")no-repeat 75px 5px,
                url("../images/runbun.png")no-repeat 6px 4px;
}
section{
    margin-top: 25px;
}
.section-box{
    width:980px;
    margin: auto;
    overflow: hidden;
}
.section-left{
    float: left;
}
.section-right{
    float: right;
    width: 330px;
    padding-top: 46px;
}
.one{
    font-size: 14px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
}
.zhuce{
    color: #06c;
    line-height: 30px;
    text-indent: 40px;
    margin-left: 217px;
}
.input1{
    width: 230px;
    height: 24px;
    padding-left: 20px;
    border: 0 none;
    line-height: 24px;
    font-size: 14px;
    text-indent: 20px;
}
.input-box{
    width: 292px;
    height: 24px;
    margin-bottom: 10px;
    padding: 14px 18px;
    border: 1px solid #dedede;
    background: #FFF;
    line-height: 24px;
}
.bgc1{
    background: url("../images/userHead.png") no-repeat 0 0;
}
.bgc2{
    background: url("../images/lock.png") no-repeat 0 -6px;
}
.checkbox{
    line-height: 30px;
    margin-bottom: 10px;
}
.checkbox a{
    color: #999;
}
.checkboxs{
    width:14px;
    height: 14px;
    vertical-align: middle;
}
.a1{
    margin-left: 209px;
}
.submit{
    width: 330px;
    height: 52px;
    border: 0 none;
    border-radius: 3px;
    background: #ff3c3c;
    font-size: 16px;
    color: #FFF;
    line-height: 52px;
}
.gengduo{
    padding:15px 0;
    color: #666666;
}
.bei{
    display: inline-block;
    width:35px;
    height:35px;
}
.tu1{
    background: url(../images/qqf.png) no-repeat;
    background-size: 100% 100%;
}
.tu1:hover{
    background: url(../images/qqt.png) no-repeat;
    background-size: 100% 100%;
}
.tu2{
    background:url(../images/wbf.png) no-repeat;
    background-size: 100% 100%;
}
.tu2:hover{
    background:url(../images/wbt.png) no-repeat;
    background-size: 100% 100%;
}
.tu3{
    background: url(../images/zhif.png) no-repeat;
    background-size: 100% 100%;
}
.tu3:hover{
    background: url(../images/zhit.png) no-repeat;
    background-size: 100% 100%;
}
.tu4{
    background: url(../images/wxf.png) no-repeat;
    background-size: 100% 100%;
}
.tu4:hover{
    background: url(../images/wxt.png) no-repeat;
    background-size: 100% 100%;
}
.clear{
    overflow: hidden;
}
.clear li{
    float: left;
    margin-right: 20px;
}
.clear li:nth-child(5){
    width:90px;
    height:35px;
    background: url(../images/loadMore.png) no-repeat 73px 1px;
    background-size: 18px 14px;
}
.footer{
    text-align: center;
    margin-top: 10px;
    color: #333;
    font-size: 12px;
}
footer{
    width: 980px;
    margin: 30px auto 0;
}
.cs:hover{
    color: #f60;
}